<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<form method="post">
    <h1>회원 가입</h1>
    <div>
        <input  type="email" name="userId" placeholder="아이디(이메일)를 입력하세요." required/>
    </div>
    <div>
        <input type="text" name="userName" placeholder="이름 입력하세요." required/>
    </div>
    <div>
        <input type="password" name="password" placeholder="비밀번호를 입력하세요." required/>
    </div>
    <div>
        <input type="password" name="rePassword" placeholder="비밀번호를 재입력하세요." required/>
    </div>
    <div>
        <input type="tel" name="phone" placeholder="휴대전화 번호를 입력하세요." required/>
    </div>
    <div>
        <button>회원 가입 하기</button>
    </div>
</form>
</body>
</html>